<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Ajouter une reservation :</h4> <br>
        <form [formGroup]="form" class="forms-sample" (ngSubmit)="add()">
          <div class="row">
            <div class="col">
                
              <div class="form-group">
                <label for="exampleInputnom">Nom</label>
  
                <input type="text" class="form-control" id="exampleInputnom" placeholder="nom" formControlName="nomR">
                <small *ngIf="form.get('nomR')?.hasError('required') && form.get('nomR')?.touched" class="text-danger">
                  Le nom est requis. <br>
                </small>
                <small *ngIf="form.get('nomR')?.hasError('minlength') && form.get('nomR')?.touched" class="text-danger">
                  Le nom doit contenir au moins 3 caractères.<br>
                </small>
                <small *ngIf="form.get('nomR')?.hasError('pattern') && form.get('nomR')?.touched" class="text-danger">
                  Seuls les lettres et les espaces sont autorisés.<br>
                </small>
              </div>
  
  
              <div class="form-group">
                <label for="exampleInputprenom">commentaire</label>
                <input type="text" class="form-control" id="exampleInputprenom" placeholder="commentaire"
                       formControlName="commentR">
                <small *ngIf="form.get('commentR')?.hasError('required') && form.get('commentR')?.touched"
                       class="text-danger">
                  Le commentaire est requis.<br>
                </small>
                <small *ngIf="form.get('commentR')?.hasError('minlength') && form.get('commentR')?.touched"
                       class="text-danger">
                  Le commentaire doit contenir au moins 3 caractères.<br>
                </small>
              </div>
  
              <div class="form-group">
                <label for="exampleInputDateCreation">Date création</label>
                <input type="date" class="form-control" id="exampleInputDateCreation" placeholder="Date création" formControlName="date">
              
                <small *ngIf="form.get('date')?.hasError('required') && form.get('date')?.touched" class="text-danger">
                  La date de création est requise<br>
                </small>
              </div>
              
            </div>
          </div>
          <div class="row mt-5">
  
  
            <button type="submit" class="btn btn-primary mr-2 w-50" [disabled]="form.invalid">Ajouter</button>
          </div>
  
        </form>
      </div>
    </div>
  </div>
  