<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Agence de voyage</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" >Hotels</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/home/offres">Offres</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/home/offres">Articles</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/home/ListePays">Pays</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/home/reservations">Reservations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/home/sites">Sites</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>